Source: avular-gpio
Section: python
Priority: optional
Maintainer: NVIDIA Corporation <linux-tegra-bugs@nvidia.com>
Build-Depends:
 debhelper (>=9),
 dh-python,
 python3-all,
 python3-all-dev,
 python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/avular-robotics/avular-gpio
X-Python3-Version: >= 3.2

Package: avular-gpio-common
Architecture: all
Depends:
 ${misc:Depends},
Description: Avular GPIO library package (common files)

Package: python3-avular-gpio
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
Description: Avular GPIO library package (Python 3)
